.registerScreen form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  margin: 0 auto;
}

.registerScreen form div:first-child {
  margin: 0 0 20px 0;
}

.registerScreen form div {
  margin-top: 25px;
}

.registerScreen form div input {
  font-size: large;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

.registerScreen form div button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: large;
  background-color: #ffd700;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

body #root {
  min-height: 100%;
}

body .danger {
  background-color: #ff2f2f;
  color: white;
  padding: 5px;
  border-radius: 5px;
  height: 40px;
  font-size: larger;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px;
  margin-bottom: 50px;
  background-color: #232f3e;
  color: #ffffff;
}

body header a:first-child {
  margin-right: 20px;
}

body header a {
  border: none;
  font-size: 20px;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

body header a:hover {
  color: #ffd700;
}

body header .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

body header .dropdown {
  display: none;
  position: absolute;
  padding: 15px 5px;
  margin: 0;
  width: 94px;
  background-color: #232f3e;
}

body header .dropdown li a {
  width: 100%;
  margin: 0;
}

body header .header-menu__options:hover .dropdown {
  display: block;
}

body header .header-menu__options:hover .dropdown li {
  list-style-type: none;
}

body footer {
  padding: 15px 0;
  background-color: #232f3e;
  color: #ffffff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

body .container-home {
  width: 70%;
  margin: 0 auto 100px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

body .container-home .card-container {
  width: 100%;
  border: 1px solid #b3b3b3;
}

body .container-home .card-container .product-img {
  width: 100%;
}

body .container-home .card-container .product-img img {
  width: 100%;
}

body .container-home .card-container .product-data {
  margin-left: 15px;
}

body .container-home .card-container .product-data p span {
  color: #ffd700;
  margin: 10px 0 20px 0;
}

body .container-home .card-container .product-data .product-price {
  font-size: 24px;
}

body .container-home .card-container .product-data .product-name {
  font-size: 20px;
  font-weight: bold;
}

body .container-product-screen {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 0 50px 100px 50px;
}

body .container-product-screen .product-picture img {
  width: 100%;
}

body .container-product-screen .product-details div {
  width: 60%;
  margin: 0 auto;
}

body .container-product-screen .product-details div .product-stars-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

body .container-product-screen .product-details div .product-stars-rating span {
  color: #ffd700;
}

body .container-product-screen .product-details div .product-screen-price {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

body .container-product-screen .product-details div .product-screen-price span {
  font-weight: normal;
}

body .container-product-screen .product-details div .product-description {
  line-height: 25px;
  font-size: 20px;
  font-weight: bold;
}

body .container-product-screen .product-details div .product-description span {
  font-size: 16px;
  font-weight: normal;
}

body .container-product-screen .cart-field .cart-card {
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  position: relative;
}

body .container-product-screen .cart-field .cart-card .brand-name {
  margin: 0 0 40px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container-product-screen .cart-field .cart-card .brand-name p {
  font-size: 30px;
  font-weight: bold;
}

body .container-product-screen .cart-field .cart-card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

body .container-product-screen .cart-field .cart-card div p {
  font-size: 20px;
}

body .container-product-screen .cart-field .cart-card div span {
  font-size: 24px;
}

body .container-product-screen .cart-field .cart-card div select {
  padding: 5px;
}

body .container-product-screen .cart-field .cart-card div .success {
  color: green;
}

body .container-product-screen .cart-field .cart-card div .alert {
  color: #ff2f2f;
}

body .container-product-screen .cart-field .cart-card button {
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  bottom: 15px;
  display: block;
  margin: 20px auto 0 auto;
  cursor: pointer;
}

body .container-product-screen .cart-field .cart-card .disabled {
  cursor: not-allowed;
  margin: 70px auto 0 auto;
}

body .container-cart-screen {
  margin: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container-cart-screen table {
  border-collapse: collapse;
  width: 70%;
  font-size: 20px;
  margin-right: 15px;
}

body .container-cart-screen table select {
  padding: 5px;
}

body .container-cart-screen table button {
  padding: 10px 20px;
  cursor: pointer;
}

body .container-cart-screen table img {
  width: 100px;
}

body .container-cart-screen table tr {
  border-bottom: 1px solid black;
}

body .container-cart-screen .total-field {
  border: 1px solid black;
  width: 30%;
  height: 100px;
  border-radius: 10px;
  padding: 15px;
}

body .container-cart-screen .total-field div:first-child {
  margin-bottom: 10px;
  font-size: 20px;
}

body .container-cart-screen .total-field button {
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

body .signInScreen .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  margin: 0 auto;
}

body .signInScreen .form div:first-child {
  margin: 0 0 20px 0;
}

body .signInScreen .form div {
  margin-top: 25px;
}

body .signInScreen .form div label {
  font-size: 20px;
}

body .signInScreen .form div input {
  font-size: large;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

body .signInScreen .form div button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: large;
  background-color: #ffd700;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */