* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px;
  margin-bottom: 50px;
  background-color: #232f3e;
  color: #ffffff;
}

body header button:first-child {
  margin-right: 20px;
}

body header button {
  border: none;
  font-size: 20px;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}

body header button:hover {
  color: #ffd700;
}

body footer {
  padding: 15px 0;
  background-color: #232f3e;
  color: #ffffff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

body .container-home {
  width: 70%;
  margin: 0 auto 100px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

body .container-home .card-container {
  width: 100%;
  border: 1px solid #b3b3b3;
}

body .container-home .card-container .product-img {
  width: 100%;
}

body .container-home .card-container .product-img img {
  width: 100%;
}

body .container-home .card-container .product-data {
  margin-left: 15px;
}

body .container-home .card-container .product-data p span {
  color: #ffd700;
  margin: 10px 0 20px 0;
}

body .container-home .card-container .product-data .product-price {
  font-size: 24px;
}

body .container-home .card-container .product-data .product-name {
  font-size: 20px;
  font-weight: bold;
}

body .container-product-screen {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 0 50px 100px 50px;
}

body .container-product-screen .product-picture img {
  width: 100%;
}

body .container-product-screen .product-details div {
  width: 60%;
  margin: 0 auto;
}

body .container-product-screen .product-details div .product-stars-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

body .container-product-screen .product-details div .product-stars-rating span {
  color: #ffd700;
}

body .container-product-screen .product-details div .product-screen-price {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

body .container-product-screen .product-details div .product-screen-price span {
  font-weight: normal;
}

body .container-product-screen .product-details div .product-description {
  line-height: 25px;
  font-size: 20px;
  font-weight: bold;
}

body .container-product-screen .product-details div .product-description span {
  font-size: 16px;
  font-weight: normal;
}

body .container-product-screen .cart-field .cart-card {
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  position: relative;
}

body .container-product-screen .cart-field .cart-card .brand-name {
  margin: 0 0 40px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container-product-screen .cart-field .cart-card .brand-name p {
  font-size: 30px;
  font-weight: bold;
}

body .container-product-screen .cart-field .cart-card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

body .container-product-screen .cart-field .cart-card div p {
  font-size: 20px;
}

body .container-product-screen .cart-field .cart-card div span {
  font-size: 24px;
}

body .container-product-screen .cart-field .cart-card div select {
  padding: 5px;
}

body .container-product-screen .cart-field .cart-card div .success {
  color: green;
}

body .container-product-screen .cart-field .cart-card div .alert {
  color: red;
}

body .container-product-screen .cart-field .cart-card button {
  width: 90%;
  padding: 10px 0;
  border-radius: 5px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */