body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-home {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.card-container {
    width: 100%;
    border: 1px solid rgb(179, 179, 179);
}
.product-img {
    width: 100%;
}
.product-img img {
    width: 100%;
}